/* Style du body */
body{
    margin: 0;
    padding : 0;
    font-size: large;

}
/* Style du titre */
#title{
    background-color: rgba(0, 119, 255, 0.719);
    width:100%;
    height:3rem;
    margin:0 0 5rem 0;
    padding:1rem 0 ;
    align-self: center;
    border-bottom:solid 5px;
}



/* Style du titre et de l'explication de l'application */
.presentation{
    display:flex;
    text-align:center;
    flex-direction: column;
    align-items: center;
}

/* Style du formulaire de ville */
#cityForm{
    display:flex;
    align-items:center;
    flex-direction: column;
}


/* style du conteneur de la météo principale */
#target0{
    margin-top: 5rem;

    display:flex;
    align-items:center;
    flex-direction:row;
    justify-content: space-around;
    flex-wrap: wrap;
}
/* Style des journées de la météo principale*/
#weather00,#weather01,#weather02 {
    padding:2rem 4rem;
    min-width: auto;
    min-height:auto;
    background-color: rgba(0, 119, 255, 0.719);
    border-radius: 10% / 50%;
    text-align: center;
    
}

/* Style de la l'ensemble des journées prise en compte de la météo */
#weatherList{
    margin-top: 5rem;

    display:flex;
    align-items:center;
    flex-direction:row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    border-radius: 10% / 50%;

}


/* style de la météo avancée */

#weather10, #weather11, #weather12, #weather13, #weather14, #weather15, #weather16, #weather17, #weather18, #weather19 ,
#weather20, #weather21, #weather22, #weather23, #weather24, #weather25, #weather26, #weather27, #weather28, #weather29,
#weather30, #weather31, #weather32, #weather33, #weather34, #weather35, #weather36, #weather37, #weather38, #weather39
{

    padding:2rem 4rem;
    min-width: auto;
    min-height:auto;
    background-color: rgba(0, 119, 255, 0.719);
    text-align: center;

}



/* Style des informations de la requêtes */
#requestInfo{

    display:flex;
    align-items:center;
    flex-direction: column;
    margin-top: 1rem;
}

/* Gestion de problème d'affichage en cas de petits écrans */
@media (max-width:720px){
    body{
        font-size: medium;
    }
    #weather0, #weather1, #weather2{
        margin: 5px;
    }
}